@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /*
  outline: 1px solid purple;
  */
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
}

/* header */
.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
}

.logo,
.nav-links li a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.nav-links li a,
.hero-copy p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
  margin: 0;
}

/* Hero section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1f2937;
  padding: 32px 160px 80px;
}

.hero-copy {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 560px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  color: #fff;
  background-color: #3882f6;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 20px 0;
}

.hero-image {
  width: 480px;
  height: auto;
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: right;
  color: #e5e7eb;
  margin-top: 8px;
}

figcaption a {
  text-decoration: none;
  color: #3882f6;
}

/* Information section */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 160px 80px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid #3882f6;
  border-radius: 8px;
  overflow: hidden;
}

.card p {
  font-size: 18px;
  color: hsl(215, 38%, 8%);
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}

.card p:first-of-type {
  font-size: 20px;
  font-weight: 700;
}

.card p:last-child {
  color: gray;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  align-self: flex-end;
}

.card p:last-child a {
  text-decoration: none;
  color: #3882f6;
}

/* Testimonial section */
.testimonial {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 80px 160px 80px;
  gap: 20px;
}

.quote {
  width: 760px;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.subject {
  width: 760px;
  font-size: 24px;
  font-weight: 500;
  color: #1f2937;
  text-align: right;
}

/* CTA section */
.call-to-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  height: auto;
  padding: 40px 120px;
  margin: 120px auto;
  background-color: #3882f6;
  border-radius: 12px;
}

.cta-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.cta-main {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.cta-description {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/* Footer section */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 32px;
}

.footer-text {
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
}
