@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid purple;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
}

/* header */
.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
}

.logo,
.nav-links li a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.nav-links li a,
.hero-copy p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}

/* Hero section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1f2937;
  padding: 32px 160px 80px;
}

.hero-copy {
  display: flex;
  flex-flow: column wrap;
  flex-shrink: 1;
  align-items: flex-start;
  width: 480px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  color: #141414;
  background-color: #3882f6;
  border: 2px solid #fff;
  border-radius: 8px;
}

.image {
  width: 520px;
  height: 320px;
  background-color: aliceblue;
  flex-shrink: 1;
}

/* Information section */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 160px 80px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.card img {
  width: 120px;
  height: 120px;
  background-color: navy;
  border: 2px solid #3882f6;
  border-radius: 12px;
}

.card p {
  font-size: 18px;
  color: hsl(215, 38%, 8%);
  font-weight: normal;
  text-align: center;
}

/* Testimonial section */
.testimonial {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 80px 160px 80px;
  gap: 20px;
}

.quote {
  width: 800px;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.subject {
  width: 800px;
  font-size: 24px;
  font-weight: 500;
  color: #1f2937;
  text-align: right;
}
